body {
	background: black;
	font-family: "Google Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

p {
	color: rgb(0, 0, 0);
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	margin-right: 8px;
	margin-top: 8px;
}

.postcard-header h1 {
	width: 350px;
	margin: 4%;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
}

.body-left,
.body.right {
	padding: 0 15px;
	width: 150%;
}

input {
	border: none;
	border-bottom: 1px solid rgb(177, 175, 175);
	padding: 5px;
	width: 100px;
	margin: 2px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: grey(250, 245, 245);
	padding: 5px;
}

button:hover {
	background-color: rgb(244, 247, 245);
	padding: 5px;
}
